<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title data-th-text="${loggedInUser.name}+' | SCM'">Dashboard Page</title>
</head>

<body>
    <div id="content">
        <!-- is user logged in? if it is: sidebar -->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>
        
        <div class="sm:pl-64 pt-20" style="height: 1000px">
            <div class="flex justify-center flex-col items-center">
                <h1 class="text-5xl">Welcome to Dashboard Page</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tempora vel et eum deleniti at
                    quo
                    fugiat sed expedita sunt eaque architecto dolores dolor autem, sequi necessitatibus, consequuntur
                    officiis. Eligendi!
                </p>
            </div>
        </div>
    </div>
    <script>
        console.log("this is a profile page");
    </script>
</body>

</html>