<!DOCTYPE html>
<html class="dark" lang="en" th:fragment="parent(content, title, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <title data-th-replace="${title}">SCM</title>
</head>
<body class="dark:bg-gray-900 dark:text-white">
    <!-- common header -->
    <div data-th-replace="navbar :: navbar"> </div>

    <!-- Main Content -->
    <div class="p-4">
        <section data-th-replace="${content}"></section>
    </div>

    <!-- flow bite content -->

    <!-- common footer -->
    <footer class="p-4">
        Footer: Learn Code
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <th:block data-th-replace="${script}"></th:block>

</body>
</html>