<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title> Signup</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Signup Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tempora vel et eum deleniti at quo fugiat sed expedita sunt eaque architecto dolores dolor autem, sequi necessitatibus, consequuntur officiis. Eligendi!</p>
    </div>
    <script>
        console.log("Signup Page");
    </script>
</body>
</html>