<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Service Page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>Services Offered by SCM</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus distinctio minima quaerat reiciendis incidunt illo asperiores est molestiae quidem voluptates recusandae corrupti iste rem nihil, obcaecati eveniet sit, in fuga.</p>
    </section>
    <script>
        console.log("Services page")
    </script>
</body>
</html>